@font-face{
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
}

body {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: yellow;

   background: linear-gradient( 180.2deg,  rgba(24,24,24,1) 1.2%, rgb(78, 78, 78) 89.8% );
}